/* Generell styling till allt */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Styling till sidan "Start" */

body {
    overflow-x: hidden; 
}

#grid-wrapper_1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 400px 400px;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2";
}

header {
    grid-area: he;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_to_heading_main_page {
    display: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(1, 1, 59);
}

.heading {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(1, 1, 59);
}

.logo {
    width: 120px;
    height: 120px;
}

.sec1 {
    grid-area: s1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec2 {
    grid-area: s2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_container {
    width: 180px;
    height: 65px;
    border: black solid 3px;
    background-color: rgba(255, 255, 255, 0.6);
}

.text_to_images {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link_to_another_page {
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#link_to_principal {
    font-size: 12px;
}

.images_section_1_main_page {
    width: 180px;
    height: 290px;
}

.images_section_2_main_page {
    width: 180px;
    height: 290px;
}

nav {
    grid-area: na;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute; 
    top: 200px;
    height: 800px;
    left: -20vw;
    background-color: rgb(10, 155, 240);
    align-items: center;
    width: 20vw;
    transition: all 0.5s;
}

.menu_connected {
    transform: translateX(20vw);
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:black;
}

.hamburger {
    cursor: pointer;
    margin: 20px;
}

.lines {
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.cross .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.cross .line2 {
    opacity: 0;
}

.cross .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.background_image {
    width: 100vw;
    height: 1000px;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (min-width: 900px) {

#grid-wrapper_1 {
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "na he"
        "s2 s1"
        "s2 s1";
}

header {
    justify-content: space-evenly;
    align-items: center;
}

.container_to_heading_main_page {
    display: block;
}

.heading {
    display: none;
}

.sec1 {
    flex-direction: column;
}

.images_section_1_main_page {
    width: 200px;
    height: 320px;
}

.images_section_2_main_page {
    width: 300px;
    height: 430px;
}

.text_container {
    width: 300px;
    height: 75px;
}

.text_to_images {
    margin-left: 5px;
    font-size: 18px;
}

#link_to_principal {
    font-size: 18px;
}

.hamburger {
    display: none;
}

.nav_all_pages {
    display: flex;
    align-items: center;
}

.menu_connected {
    transform: none;
}

.menu {
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70vw;
    height: 200px;
    background: none
}

.menu a {
    font-size: 25px;
}

}

/* Styling till sidan "Om oss" (styling som inte redan är gjord ovan) */

#grid-wrapper_2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 360px 95px 95px 95px 95px;
    grid-template-areas: 
        "na he" 
        "ma ma"
        "a1 a1"
        "a2 a2"
        "a3 a3"
        "a4 a4"
    ;
}

.hidden {
    visibility: hidden;
}

main {
    grid-area: ma;
}

#art1 {
    grid-area: a1;
}

#art2 {
    grid-area: a2;
}

#art3 {
    grid-area: a3;
}

#art4 {
    grid-area: a4;
}

.trainers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.images_trainers {
    height: 75px;
    width: auto;
    margin-left: 10px;
}

.images_trainers:hover {
    height: 190px;
    width: auto;
    z-index: 2;
}

.list_trainer {
    margin-left: 20px;
}

.text_trainers {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#list_trainer_item {
    list-style-type: none;
}

#main_om_oss {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_for_content {
    position: relative;
    top: 10px;
    margin: 10px;
    text-decoration: underline;
}

#wrapper_around_text_for_content {
    background-color: rgba(255, 255, 255, 0.7); 
    border: black solid 3px;
    margin-left: 2px;
}

.text_for_content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    font-size: 13px;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_2 {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 200px 400px 400px;
        grid-template-areas: 
            "na na he" 
            "ma a1 a2"
            "ma a3 a4"
        ;
    }

    .heading_for_content {
        font-size: 30px;
    }

    #wrapper_around_text_for_content {
        margin-top: 10px;
        margin-left: 5px;
    }

    .text_for_content {
        font-size: 17px;
    }

    .trainers {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .images_trainers {
        height: 200px;
        margin-left: 0px;
    }

    .images_trainers:hover {
        height: 200px;
    }

    .list_trainer {
        font-size: 17px;
    }

    .text_trainers {
        font-size: 16px;
        margin-top: 5px;
    }
}

/* Styling till sidan "Medlemskap" (styling som inte redan är gjord ovan) */

#grid-wrapper_3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 800px;
    grid-template-areas: 
        "na he"
        "ma ma"
    ;
}

#main_medlemskap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#list_medlemskap {
    background-color: rgba(255, 255, 255, 0.6);
    border: black solid 3px;
    list-style-type: none;
    margin: 10px;
}

.list-item_medlemskap {
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_3 {
        grid-template-columns: 70% 30%;
    }

    .list-item_medlemskap {
        font-size: 22px;
    }
}

/* Styling till sidan "Tävlingar" (styling som inte redan är gjord ovan) */

#grid-wrapper_4 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 30% 25% 25%;
    grid-template-rows: 200px 50px 250px 50px 225px 225px;
    grid-template-areas: 
            "na he he he"
            "d1 d1 d1 d1"
            "s1 s1 s1 s1"
            "d2 d2 d2 d2"
            "a1 a1 a2 a2"
            "a3 a3 a4 a4"
}

.heading_div_1 {
    grid-area: d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading_div_2 {
    grid-area: d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headings_inside_div {
    text-decoration: underline;
}

#sec2_tavlingar {
    flex-direction: column;
}

#art1_in_tidigare_tavlingar {
    grid-area: a1;
}

#art2_in_tidigare_tavlingar {
    grid-area: a2;
}

#art3_in_tidigare_tavlingar {
    grid-area: a3;
}

#art4_in_tidigare_tavlingar {
    grid-area: a4;
}

.articles_in_tidigare_tavlingar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lists_tavlingar {
    list-style-type: none;
}

.list_container {
    width: 210px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border: black solid 3px;
}

.list_old_results {
    list-style-type: none;
}

.text_list_kommande {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 2.5px;
}

#link_to_goteborgsvarvet {
    font-size: 18px;
}

.nothing_at_the_moment {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 7px;
}

.text_list_resultat {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_4 {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 200px 80px 360px 360px;
        grid-template-areas: 
            "na na he" 
            "d1 d2 d2"
            "s1 a1 a2"
            "s1 a3 a4"
            ;   
    }

    .headings_inside_div {
        font-size: 28px;
    }

    .lists_tavlingar {
        font-size: 25px;
    }

    .list_container {
        width: 230px;
        height: 120px;
    }

    .text_list_kommande {
        font-size: 20px;
        margin: 5px;
    }

    #link_to_goteborgsvarvet {
        font-size: 20px;
    }

    .nothing_at_the_moment {
        font-size: 20px;
        margin: 9px;
    }

    .text_list_resultat {
        font-size: 20px;
    }
}

/* Styling till sidan "Kontakt" (styling som inte redan är gjord ovan) */

#grid-wrapper_5 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 50px 450px;
    grid-template-areas: 
            "na he"
            "d1 d1" 
            "s1 s1"   
}

#sec1_kontakt {
    flex-direction: column;
}

.lists_kontakt {
    background-color: rgba(255, 255, 255, 0.6);
    border: black solid 3px;
    list-style-type: none;
}

.heading_under_heading_for_content {
    margin: 10px;
    text-decoration: underline;
}

.e-post_and_telefonnummer {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_5 {
        grid-template-columns: 70% 30%;
        grid-template-rows: 200px 80px 420px;
        grid-template-areas: 
            "na he" 
            "d1 d1"
            "s1 s1"
        ;
    }

    #sec1_kontakt {
        flex-direction: row;
    }

    .heading_under_heading_for_content {
        margin: 15px;
        font-size: 23px;
    }

    .e-post_and_telefonnummer {
        font-size: 20px;
    }
}