/* Generell styling till allt */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Styling till sidan "Start" */

.links_to_nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
}

#grid-wrapper_1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 400px 400px;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2";
}

header {
    grid-area: he;
    background: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_to_heading_main_page {
    display: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.temp_image {
    width: 120px;
    height: 120px;
}

.sec1 {
    grid-area: s1;
    background: purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec2 {
    grid-area: s2;
    background: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_container {
    width: 200px;
    height: 60px;
    border: black solid 3px;
}

.text_to_images {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: hotpink;

}

#link_to_principal_contact {
    color: lightblue;
}

.images_main_page {
    width: 200px;
    height: 320px;
}

nav {
    grid-area: na;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute; 
    top: 200px;
    height: 800px;
    left: -20vw;
    background-color: lightskyblue;
    align-items: center;
    width: 20vw;
    transition: all 0.5s;
}

.menu_connected {
    transform: translateX(20vw);
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
}

.hamburger {
    cursor: pointer;
    margin: 20px;
}

.lines {
    width: 25px;
    height: 3px;
    background-color: green;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.cross .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.cross .line2{
    opacity: 0;
}

.cross .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media screen and (min-width: 900px) {

#grid-wrapper_1 {
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "na he"
        "s2 s1"
        "s2 s1";
}

header {
    justify-content: flex-end;
    align-items: center;
}

.container_to_heading_main_page {
    display: block;
}

.heading {
    display: none;
}

.temp_image {
    margin: 40px;
}

.sec1 {
    flex-direction: column;
}

.images_section_2_main_page {
    width: 300px;
    height: 430px;
}

.text_container {
    width: 300px;
    height: 90px;
}

.text_to_images {
    font-size: 19px;
    color: hotpink;
}

.hamburger {
    display: none;
}

.nav_all_pages {
    display: flex;
    align-items: center;
}

.menu_connected {
    transform: none;
}

.menu {
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70vw;
    height: 200px;
}

}

/* Styling till sidan "Om oss" (styling som inte redan är gjord ovan) */

#grid-wrapper_2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 425px 105px 90px 90px 90px;
    grid-template-areas: 
        "na he" 
        "ma ma"
        "a1 a1"
        "a2 a2"
        "a3 a3"
        "a4 a4"
    ;
}

.hidden {
    visibility: hidden;
}

main {
    grid-area: ma;
    background: tomato;
}

#art1 {
    grid-area: a1;
    background: violet;
}

#art2 {
    grid-area: a2;
    background: turquoise;
}

#art3 {
    grid-area: a3;
    background: pink;
}

#art4 {
    grid-area: a4;
    background: goldenrod;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_2 {
        grid-template-columns: 40% 30% 30%;
        grid-template-rows: 200px 400px 400px;
        grid-template-areas: 
            "na na he" 
            "ma a1 a2"
            "ma a3 a4"
        ;
    }
}

/* Styling till sidan "Medlemskap" (styling som inte redan är gjord ovan) */

#grid-wrapper_3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 800px;
    grid-template-areas: 
        "na he"
        "ma ma"
    ;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_3 {
        grid-template-columns: 70% 30%;
        grid-template-areas: 
            "na he" 
            "ma ma"
        ;
    }
}

/* Styling till sidan "Tävlingar" (styling som inte redan är gjord ovan) */

#grid-wrapper_4 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 200px 300px 500px;
    grid-template-areas: 
            "na he he" 
            "s1 s1 s1"
            "s2 s2 s2"
}

@media screen and (min-width: 900px) {
    #grid-wrapper_4 {
        grid-template-columns: 50% 20% 30%;
        grid-template-rows: 200px 400px 400px;
        grid-template-areas: 
            "na na he" 
            "s1 s2 s2"
            "s1 s2 s2"
        ;
    }
}

/* Styling till sidan "Kontakt" (styling som inte redan är gjord ovan) */

#grid-wrapper_5 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 200px 700px;
    grid-template-areas: 
            "na he" 
            "as s1"    
}

aside {
    grid-area: as;
    background: brown;
}

@media screen and (min-width: 900px) {
    #grid-wrapper_5 {
        grid-template-columns: 70% 30%;
        grid-template-rows: 200px 500px 200px;
        grid-template-areas: 
            "na he" 
            "s1 s1"
            "as as"
        ;
    }
}